body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  border-bottom: 1px solid lightgray;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 0;
}
.header-top {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
}
.header-logo img {
  width: 73px;
  cursor: pointer;
}
.header-search {
  position: relative;
}
.search-input {
  height: 39px;
  width: 632px;
  border: none;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  padding: 1px 2px 1px 40px;
  font-size: 16px;
  outline: none;
}
.search-input::placeholder {
  opacity: 0.3;
}
.search-icon {
  position: absolute;
  top: 12.5px;
  left: 12.5px;
  color: #9a9a9a;
}
.header-top .header-action {
  display: flex;
  justify-content: space-between;
}
.filter-part {
  display: flex;
  gap: 15px;
  margin: 15px 0 5px;
}
.price-sorting {
  display: flex;
  gap: 5px;
  align-items: center;
}
.price-range {
  display: flex;
  align-items: center;
  gap: 5px;
}
.signup-login-btn {
  width: 115px;
  height: 30px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  color: #2cb1ba;
  font-size: 12px;
  background-color: white;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.deconnexion {
  width: 115px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  background-color: red;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.to-publish {
  width: 115px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  background-color: #2cb1ba;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.help-btn {
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
}
.banner {
  height: 339.5px;
  position: relative;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tear-effect {
  background-image: url(./assets/images/tear-d431548c90905ad757632e4c3075d9473e38c7c6642721efeae9413afb9387a2.svg);
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  background-repeat: no-repeat;
  top: 250px;
  object-fit: contain;
  z-index: 0;
  overflow: hidden;
  clip-path: polygon(30% 0%, 30% 26.5%, 100% 26.5%, 100% 0%);
}
.content {
  margin-top: 30px;
}
.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category span {
  font-size: 24px;
  margin-bottom: 30px;
}
.category button {
  border: none;
  background-color: none;
  color: #09b0ba;
  background: none;
  cursor: pointer;
}
.offers-display {
  display: flex;
  flex-wrap: wrap;
}
.individual-offer {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5 - 40px / 5);
  height: 400px;
  margin-bottom: 25px;
}
.individual-offer:not(:nth-child(5n)) {
  margin-right: 10px;
}
.hot-offer-owner-account {
  height: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.owner-account-filler {
  height: 40px;
}
.hot-offer-avatar-container {
  height: 35px;
  width: 35px;
  padding: 0 5px;
}
.hot-offer-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.filler {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: cadetblue;
}
.individual-offer .link-to-offer {
  width: 100%;
  height: 75%;
}
.individual-offer .link-to-offer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.individual-offer .offer-info {
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 15%;
}
.individual-offer .subpic {
  display: flex;
  justify-content: space-between;
}
.individual-offer .subpic .price-info {
  display: flex;
  gap: 5px;
}
.individual-offer .subpic .popularity {
  display: flex;
  gap: 5px;
}
.individual-offer .details {
  display: flex;
  flex-direction: column;
}
.offer-main {
  background-color: #f2f2f2;
  height: 89vh;
}
.product {
  padding-top: 30px;
  height: 624px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.product-pics {
  display: flex;
  margin-right: 20px;
  flex: 8;
}
.product-pics .main-pic {
  height: 100%;
  width: 50%;
  margin-right: 3px;
}
.product-pics .main-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.product-pics .picture-mosaic {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product-pics .picture-mosaic::-webkit-scrollbar {
  display: none;
}
.product-pics .picture-mosaic .additional-picture {
  height: calc((100% - 3px) / 2);
  width: calc((100% - 3px) / 2);
}
.product-pics .picture-mosaic .additional-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.full-product-details {
  height: 100%;
  background-color: white;
  border-radius: 5px;
  flex: 3;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.offer-page-price {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.product-specs {
  padding: 0 0 50px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.indiv-spec {
  display: flex;
  gap: 30px;
}
.indiv-spec .key {
  width: 35%;
}
.product-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 20px;
}
.prod-description {
  margin-bottom: 20px;
}
.owner {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-initial {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: blueviolet;
}
.buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy-btn button {
  background-color: #09b0ba;
  width: 100%;
  color: white;
  border: none;
  height: 35px;
  border-radius: 5px;
  font-size: 16px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}
.disabled {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  color: #2cb1ba;
  font-size: 14px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
  height: fit-content;
  width: fit-content;
}
.active {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 10px;
  background-color: #2cb1ba;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

/* signup page */
.signup-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.signup-container h1 {
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0;
}
.signup-form {
  width: 275px;
  display: flex;
  flex-direction: column;
}
.necessary {
  width: 275px;
  height: 38px;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(246, 201, 216);
  line-height: 20px;
  font-size: 16px;
  padding: 1px 2px;
  outline: none;
}
.necessary::placeholder {
  opacity: 0.3;
}
.checkbox-div {
  margin: 20px 0 0;
  padding: 10px;
}
.checkbox-div input {
  margin: 3px 20px 3px 4px;
  transform: scale(2);
}
.checkbox-div label {
  font-size: 16px;
  color: #666666;
}
.checkbox-div p {
  font-size: 12px;
  color: #999;
  margin: 12px 0;
}
.signup-submit-btn {
  width: 275px;
  height: 45px;
  margin-top: 20px;
  padding: 1px 6px;
  background-color: #2db0ba;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.redirect-to-login-signup {
  font-size: 12px;
  margin: 20px 0;
  color: #46b7c0;
}
.email-exists {
  color: red;
  font-size: 12px;
}
.password-too-short {
  color: red;
  font-size: 12px;
}

/* login page */
.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.login-container h1 {
  font-weight: 500;
  font-size: 24px;
  margin: 20px 0;
}
.login-form {
  width: 275px;
  display: flex;
  flex-direction: column;
}
.unauthorized {
  color: red;
  font-size: 12px;
}

/* publish page */
.publish-main {
  background-color: #ebedee;
}
.publish-container {
  max-width: 1280px;
  margin: 0 auto;
  height: 1150px;
}
.publish-container h2 {
  font-size: 24px;
  padding: 40px 0 0;
  box-sizing: border-box;
}
.publish-container .picture-upload {
  padding: 24px;
  background-color: white;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.publish-container .picture-upload .dashed-border {
  width: 1230px;
  height: 200px;
  padding: 1px;
  border: 1px dashed #ebedee;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.publish-container .picture-upload .file-input-label {
  color: #0ab1ba;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #0ab1ba;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
}
.publish-container .picture-upload .file-input-label .input-sign {
  font-size: 40px;
}

.publish-container .picture-upload .file-input {
  display: none;
}
.publish-pic-preview {
  height: 180px;
}
.publish-container .section-div {
  background-color: white;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
}
.publish-container div .top-div {
  border-bottom: 1px solid #ebedee;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.publish-container div .bottom-div {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.publish-container .input-field {
  border: none;
  outline: none;
  border-bottom: 1px solid #ebedee;
  width: 50%;
}
.publish-container .input-field:focus {
  border-color: #09b0ba;
}
.publish-container .price-input-div .input-field {
  width: 175px;
}
.publish-container .price-input-div .input-field:focus {
  border-color: #09b0ba;
}
.publish-container .price-input-div .checkbox {
  transform: scale(2);
}
.publish-container .price-input-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
}
.publish-container .price-input-div .trading {
  display: flex;
  gap: 10px;
}
.publish-container .input-field::placeholder {
  color: #c4c7c9;
  font-size: 16px;
}
.publish-container .btn-container {
  display: flex;
  justify-content: flex-end;
}
.publish-container .btn-container .submit-btn {
  border: none;
  background-color: #09b0ba;
  border-radius: 5px;
  color: white;
  margin: 50px 0;
  width: 53px;
  height: 20px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  font-size: 16px;
}
.submitted-picture {
  height: 150px;
}
.submitted-message {
  font-weight: 700;
  font-size: 24px;
}

/* Payment page */
.payment-main {
  background-color: #ebedee;
  height: 100vh;
  padding: 36px;
}
.payment-container {
  background-color: white;
  padding: 36px 20px;
  margin: 0 auto;
  width: 600px;
  box-sizing: border-box;
}
.order-summary p {
  margin-bottom: 40px;
  color: #666666;
  font-size: 14px;
}
.payment-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.payment-details div {
  display: flex;
  justify-content: space-between;
  color: #666666;
}
.grand-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 35px;
}
.emphasise {
  font-weight: 700;
}
.order-summary hr {
  margin: 35px 0px;
}
.final-notice {
  text-align: justify;
}
.card-details {
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  border-radius: 4px;
  margin: 10px 0 20px;
  padding: 10px 14px;
}

.pay-btn {
  width: 552px;
  height: 44px;
  padding: 0px 14px;
  margin: 8px 0px 0px;
  background-color: #01bb6a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}
